.nav-menu {
  width: 1220px;
  max-width: 95%;
  margin: 0 auto;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left ul li {
  display: inline-block;
  padding: 1rem 3rem;
  /* margin: 0 5rem; */
  color: #000;
}

.nav-right ul li {
  display: inline-block;
  padding: 1rem 2rem;
  /* margin: 0 5rem; */
}
.fa-angle-down {
  margin-left: 1rem;
}
ul li link {
  color: #000;
}
.fa-user-circle {
  color: lightblue;
}
